#Eclipse
.classpath
.project
.settings/

# IntelliJ
.idea
*.iml
*.ipr
*.iws

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# macOS
.DS_Store

# Maven
aeds3/target/
log/

#Java
*.class

src/main/java/tmp


